*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
}


/* / REGOLE GENERALI */

header{
  height: 100px;
  padding-left: 10px;
}

.header-top{
  height: 50px;
  display: flex;
  padding-top: 10px;
}

.header-top a{
  color: black;
  padding-left: 10px;
}


.header-bottom{
  height: 50px;
  border-bottom: 1px solid black;
}

.header-bottom ul li{
  display: inline-block;
  padding-right: 15px;
  padding-top: 20px;
}

.header-bottom ul li a{
  color: black;
  text-decoration: none;
}

.header-bottom ul li a:hover{
  color: blue;
  text-decoration: underline;
}

main{
  padding-top: 20px;
}




footer{
  height: 50px;
  background-color: grey;
  margin-top: 15px;
  position: relative;
}

footer ul li{
  display: inline-block;
  padding-top: 5px;

}

select{
  width: 150px;
  position: absolute;
  right: 90px;
}






/*  */
